.cart--wrapper {
  margin: 10px;
  width: 100%;
}

.cart--content--item__placeholder {
  border: solid;
  display: flex;
  height: 400px;
  justify-content: space-around;
}

.cart--content__title {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0
}

.cart--content--item {
  border: solid;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  flex: 1 1 30%;
  max-width: 30%;
  gap: 10px;
  &__color {
  }
  &__title {
    border: solid;
  }
  &__size {
  }
  &__img {
  }
}


