* {
  box-sizing: border-box;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}

.product--item {
  &__container {
    display: flex;
    border: solid;
    max-width: 1024px;
    margin: auto;
    gap: 30px;
    padding: 15px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px 16px 20px 16px;

    &__container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    font-weight: 500;
  }

  &__price {
    display: flex;
    justify-content: flex-end;
  }

  &--dropdowns {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__arrow {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 15px;
      top: 11px;
      pointer-events: none;
    }

    &__color {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      border-radius: 32px;
      padding: 6px 10px 6px 10px;
      outline: solid 1px #949494;

      &:hover {
        outline: solid 1px black;
      }

      &__container {
        display: flex;
        gap: 40px;
        position: relative;
      }

      &__text {
        min-width: 45px;
        display: flex;
        align-items: center;
      }
    }

    &__size {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      border-radius: 32px;
      padding: 6px 10px 6px 10px;
      outline: solid 1px #949494;

      &:hover {
        outline: solid 1px black;
      }

      &__container {
        display: flex;
        gap: 40px;
        position: relative;
      }

      &__text {
        min-width: 45px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.scroll--items {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 350px;
    width: 5%;
    margin-top: 30px;
  }
}

option {
  display: flex;
  justify-content: center;
}

hr {
  border: solid 0.5px;
  color: #eaeaea;
  margin: 15px 0 15px 0;
}
