* {
  box-sizing: border-box;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}

.product--item {
  &__container {
    display: flex;
    max-width: 1024px;
    margin: auto;
    gap: 30px;
    padding: 15px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 16px 20px 16px;

    &__container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__quantity {
    border: solid;
  }

  &__title {
    font-weight: 500;
    max-width: 90%;
  }

  &__price {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
  }

  &--dropdowns {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__arrow {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 15px;
      top: 15px;
      pointer-events: none;
    }

    &__color {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      font-weight: 400;
      font-size: 0.85rem;
      border-radius: 32px;
      padding: 13px 20px;
      border-radius: 32px;
      padding: 13px 20px 13px 45px;
      color: #515151;
      outline: solid 1px #949494;

      &:hover {
        outline: solid 1px black;
      }

      &__icon {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: solid 1px;
        position: absolute;
        left: 100px;
        top: 11px;
      }

      &__container {
        display: flex;
        gap: 40px;
        margin-top: 20px;
        position: relative;
      }

      &__text {
        min-width: 45px;
        display: flex;
        align-items: center;
      }
    }

    &__size {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      font-weight: 400;
      font-size: 0.85rem;
      border-radius: 32px;
      padding: 13px 20px;
      color: #515151;
      outline: solid 1px #949494;

      &:hover {
        outline: solid 1px black;
      }

      &__container {
        display: flex;
        gap: 40px;
        position: relative;
      }

      &__text {
        min-width: 45px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.product--item__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  font-weight: 400;
  font-size: 0.85rem;
  border-radius: 32px;
  padding: 13px 20px;
  border-radius: 32px;
  padding: 13px 20px 13px 45px;
  color: #515151;
  outline: solid 1px #949494;
  border: none;

  &:hover {
    outline: solid 1px black;
  }
}

option {
  display: flex;
  justify-content: center;
}

hr {
  border: solid 0.5px;
  color: #eaeaea;
  margin: 15px 0 15px 0;
}

.cart--items {
  overflow: auto;
  max-height: 300px;
  &__content {
    width: 50%;
  }
}

div[class^="cart--items__"] {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
